

/*
웹 브라우저에서 지원하는 CSS3 엔진에 따라 접두어를 사용해야 한다.
-webkit : Chrome Opera Safari
-moz- : Firefox
-ms- : IE

animation 속성은 애니메이션의 속성, 상태를 지정한다.
애니메이션이 움직이는 중간 상태는 @keyframes 규칙을 이용해 지정한다.

animation 하위 속성
animation-delay : animation 시작 지정
animation-direction : 종료후 재시작, 역방향 진행 지정
animation-duration : 한 사이클의 애니메이션이 얼마에 걸쳐 진행 되는지 지정
animation-iteration-count : 애니메이션 반복 수 지정
animation-name : 애니메이션 중간 상태 지정 (@keyframes)
animation-play-state : 애니메이션을 멈춤 시작 지정
animation-timing-function : 중간 상태들의 전환을 어떤 시간 간격에 진행하는지 지정
animation-fill-mode : 애니메이션 시작전, 끝난 후 값 적용 지정

@keyframes : 애니메이션의 중간 상태를 지정하고, 2개 이상의 중간 상태를 정의함
0%(대신 from)는 애니메이션 시작점 , 100%(대신 to)는 끝지점을 의미

*/
h1 {
  -webkit-animation-duration : 3s;
  -webkit-animation-name : slidein;

}

h2 {
  -webkit-animation-duration : 4s;
  -webkit-animation-name : inform;
  -webkit-animation-iteration-count : infinite;
  -webkit-animation-direction : alternate;

}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width : 100%;
  }
}

@-webkit-keyframes inform {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width : 100%;
  }
}
